.local/**
.vscode/**
.vscode-test/**
.vscode-test.js
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

TODO.md
build.js
copy-gcc-includes.sh
eslint.config.mts
